<?xml version="1.0" encoding="utf-8"?>
<!-- Combination 3: C++ publisher to Python subscriber -->
<launch>
	<!-- Run publisher -->
	<node pkg="performance_tests" type="cpp_talker" name="cpp_talker">
		<param name="hertz" type="int" value="1"/>
	</node>
	<!-- Run subscriber -->
	<node pkg="performance_tests" type="cpp_listener" name="cpp_listener"/>
</launch>
